:root {
    /* Paleta de Colores */
    --primario: #784d3c;
    --primarioOscuro: #2f1c19;
    --primarioClaro: #c3a581;
    --primarioMasClaro: #f7f4ef;
    --secundario: #ffc107;
    --secundarioOscuro: #e29400;
    --negro: #000000;
    --blanco: #ffffff;

    /* Fuentes */
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
}/* Definición de variables CSS para colores y fuentes */
html {
    font-size: 62.5%; /* Base: 10px = 1rem */
    box-sizing: border-box; /* Box-sizing para todos los elementos */
}
*, *:before, *:after {
    box-sizing: inherit; /* Hereda el box-sizing definido en html */
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 1.5; /* En los blog se usa mucho un interlineado un poco mas grande */
}

/** GLOBALES **/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto; /* sirve para centrar*/
}
a {    text-decoration: none;   } /* Quitar subrayado de los enlaces */
h1 {   font-size: 5rem;         } /* Títulos principales */
h2 {   font-size: 3.8rem;       } /* Subtítulos */
h3 {   font-size: 3.2rem;       } /* Títulos secundarios */
h4 {   font-size: 2.8rem;       } 
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading); /* Fuente principal */
    line-height: 1.2; 
}

/** IMAGENES **/
img {
    max-width: 100%;
}

/** UTILIDADES **/
.no-margin      {   margin: 0;          }
.margin-bottom  {   margin-bottom: 1.5rem;}
.no-padding     {   padding: 0;         }
.centrar-texto  {   text-align: center; }
.interlineado-corto { line-height: .3rem;}

/** HEADER **/
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem; /* Tamaño de la imagen */
    background-size: cover; /* Que cubra todo el area */
    background-repeat: no-repeat; /* Que no se repita la imagen */
    background-position: center center; /* Centramos la imagens vertical y horizontalmente para derle prioridad al centro*/
}
.header__texto {
    text-align: center;
    color: var(--primarioMasClaro);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto{
        margin-top: 20rem;
    }
}
.logo {
    color: var(--primarioMasClaro);
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}

/** FOOTER **/
.footer {
    background-color: var(--negro);
    padding: 1rem 0 2rem 0;
    margin-top: 3rem;
}
.footer__logo{
    text-align: left;
    color: var(--primarioMasClaro);
    font-family: var(--fuenteHeading);
    font-size: 3rem;
    font-weight: 400;
}
.footer__texto{
    text-align: center;
}

/** NAVEGACIÓN **/
@media (min-width: 768px) {
    h2 {
        line-height: 2;
    }
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;     
    }
    .navegacion,
    .footer__navegacion {
        display: flex;
        column-gap: 2rem;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--primarioMasClaro);
}

/** BLOG **/
@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.entrada {
    border-bottom: 1px solid var(--primarioClaro);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
} /* el ultimo item de arriba para abajo */

/** BOTON **/
.boton {
    display: block;
    font-family: var(--fuenteParrafos);
    color: var(--primarioMasClaro);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}
.boton:hover {
    cursor: pointer;
}
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}

/** CURSOS **/
.cursos {
    list-style: none;
}
.widget-curso,
.curso {
    border-bottom: 1px solid var(--primarioClaro);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-curso__label,
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-curso__info,
.curso__info {
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info,
.curso__label,
.curso__info {
    font-size: 1.8rem;
}

/* PAGINA CURSOS */
.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--primarioClaro);
}
.curso:last-of-type {
    border: none;
}
@media (min-width: 780px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
    .curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
    }
    .curso__info {
    font-weight: normal;
    }
    .curso__label,
    .curso__info {
    font-size: 1.8rem;
    }
    .curso__informacion {
        margin-bottom: 2rem;
    }
}

/** NOSOTROS **/
@media (min-width: 780px) {
    .sobre-nosotros {
        display: flex;
        justify-content: space-between;
    }
    p {
        margin: 0;
    }
    .sobre-nosotros__imagen,
    .sobre-nosotros__texto {
        flex-basis: calc(50% - 1rem);
    }
}

/** ENTRADA **/
.entrada {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.entrada__texto p {
    line-height: normal;
    margin-bottom: 2rem;
}

/** CONTACTO **/
.contacto__bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

/** FORMULARIO **/
.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 15rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
}
.campo__field--textarea {
    height: 20rem;
}
.boton--derecha {
    justify-content: flex-end;
}