:root {
    /* Definición de variables CSS para colores y fuentes */
    --primario: #df2691;
    --primarioOscuro: #51062e;
    --primarioClaro: #f76fc8;
    --primarioMasClaro: #fdf2f9;

    --secundario: #ffc107;
    --secundarioOscuro: #e29400;

    --fuentePrincipal: 'Staatliches', cursive;
}

/** GLOBALES **/
html {
    font-size: 62.5%; /* Base: 10px = 1rem */
    box-sizing: border-box; /* Box-sizing para todos los elementos */
}
*, *:before, *:after {
    box-sizing: inherit; /* Hereda el box-sizing definido en html */
}
body {
    font-size: 1.6rem; /* Tamaño base de fuente */
    line-height: 1.5; /* Altura de línea */
    font-family: var(--fuentePrincipal); /* Fuente principal */
    color: var(--primarioMasClaro); /* Color del texto */
    background-color: #51062e; /* Color de fondo */
}

/** TIPOGRAFIA **/
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400; /* Peso normal */
    font-style: normal; /* Sin cursiva */
}  
p {
    font-size: 1.3rem; /* Tamaño del texto */
    font-family: Arial, Helvetica, sans-serif; /* Fuentes alternativas */
    color: var(--primarioMasClaro); /* Color del texto */
    margin: 0; /* Sin margen */
}
a {text-decoration: none;} /* Quitar subrayado de los enlaces */
h1 {font-size: 3.5rem;} /* Títulos principales */
h2 {font-size: 2.7rem;} /* Subtítulos */
h3 {font-size: 1.9rem;} /* Títulos secundarios */
h1, h2, h3 {
    text-align: center; /* Centrados */
    color: var(--secundario); /* Color secundario */
    font-family: var(--fuentePrincipal); /* Fuente principal */
}

/** IMAGENES **/
img {
    width: 100%; /* Imagen ajustada al ancho del contenedor */
}

/** HEADER **/
.header {
    display: flex;
    justify-content: center; /* Centra el logo en el header */
}
.header__logo {
    margin: 2rem 0; /* Margen superior e inferior */
}

/** NAVEGACIÓN **/
.nav {
    background-color: var(--primario); /* Color de fondo */
    padding: 1rem; /* Espaciado interno */
    display: flex;
    justify-content: center; /* Enlaces centrados */
    gap: 2rem; /* Espacio entre enlaces */
    margin-bottom: 1rem; /* Espacio inferior */
}
.nav__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--primarioMasClaro);
    font-size: 2rem; /* Tamaño del texto */
}
.nav__enlace--activo,
.nav__enlace:hover {
    color: var(--secundario); /* Color de hover o enlace activo */
}

/** CONTENEDOR - TITULOS **/
.contenedor {
    margin: 1 auto ; /* Ajuste para centrado */
}

/** MAIN **/
.contenido {
    display: flex;
    justify-content: center; /* Contenido centrado */
}

/** PRODUCTOS **/
.producto {
    background-color: var(--primario);
    padding: 1rem; /* Espaciado interno */
    display: flex;
    flex-direction: column;
    align-items: center;  /* Elementos centrados */
    justify-content: center;
    border: 1px solid var(--primarioClaro);
    border-radius: 0.5rem; /* Opcional: esquinas redondeadas */
}
.producto__imagen {
    max-width: 100%; /* Imagen ajustada */
    height: auto; /* Proporciones mantenidas */
}
.producto__nombre{
    font-size: 3rem; /* Tamaño del nombre */
}
.producto__precio{
    font-size: 2.8rem; /* Tamaño del precio */
    color: var(--secundario); /* Color destacado */
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0; /* Espaciado vertical */
    text-align: center;
    line-height: 3rem; /* Espaciado entre líneas */
}

/** GRID **/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 2rem; /* Espacio entre elementos */
    padding: 2rem; /* Espacio interno */
    grid-auto-rows: minmax(250px, auto); /* Altura mínima de filas */
}
/* Configuración secundaria: Tablets */
@media (max-width: 1000px) and (min-width: 730px) {
    .grid {
        grid-template-columns: 50% 50%; /* Dos columnas */
        gap: 1.5rem; /* Menor espacio entre elementos */
        padding: 1.5rem;
    }
}
/* Configuración terciaria: Celulares */
@media (max-width: 730px) {
    .grid {
        grid-template-columns: 1fr; /* Una columna */
        gap: 1rem; /* Menor espacio entre elementos */
        padding: 1rem; /* Espacio interno más reducido */
    }
}

/** GRAFICOS **/
.graficos {
    background-repeat: no-repeat; /* para que no se repita la imagen */
    background-size: cover; /* toma todo el espacio disponible*/
    border: 1px solid var(--primarioClaro); /* Opcional: para visualizar bordes */
    border-radius: 0.5rem; /* Opcional: esquinas redondeadas */
    min-height: 30rem;
}
.graficos--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
    background-image: url(../img/grafico2.jpg);
}
.graficos--camisas {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../img/grafico1.jpg);
}
/* Configuración secundaria: Tablets */
@media (max-width: 1000px) and (min-width: 730px) {
    .graficos {
        min-height: 30rem;
    }
    .graficos--node {
        grid-row: 5 / 6;
        grid-column: 1 / 3;
    }
    .graficos--camisas {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
}
/* Configuración terciaria: Celulares */
@media (max-width: 730px) {
    .graficos {
        min-height: 10rem;
    }
    .graficos--node {
        grid-row: 15 / 16;
        grid-column: 1 / 2;
    }
    .graficos--camisas {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}

/** NOSOTROS **/
.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 2rem; /* Espacio entre elementos */
    margin: 0;
    padding: 0rem 15rem; /* Espacio interno */
}
.nosotros__contenido{
    grid-column: 1 / 2;
}
.nosotros__imagen {
    grid-column: 2 / 3;
}
/* Configuración secundaria: Tablets */
@media (max-width: 1000px) and (min-width: 730px) {
    .nosotros {
        grid-template-columns: 1fr; /* una columna */
        padding: 2.5rem;
    }
    .nosotros__contenido{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .nosotros__imagen {
        grid-column: 1 / 2;
        max-width: 100%;
        height: auto;
    }
}
/* Configuración terciaria: Celulares */
@media (max-width: 730px) {
    .nosotros {
        grid-template-columns: 1fr; /* Una columna */
        gap: 1rem; /* Menor espacio entre elementos */
        padding: 1rem; /* Espacio interno más reducido */
    }
    .nosotros__contenido{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .nosotros__imagen {
        grid-column: 1 / 2;
        max-width: 100%;
        height: auto;
    }
}

/** Comprar **/
.comprar__titulo {
    padding: 4rem 0 0 0;
}

/** BLOQUES **/
.bloques{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* cuatro columnas */
    gap: 2rem;
    margin: 0;
    padding: 0rem 15rem; /* Espacio interno */
}
.bloque {
    text-align: center;
}
.bloque__titulo {
    margin: 0;
}
/* Configuración secundaria: Tablets */
@media (max-width: 1000px) and (min-width: 730px) {
    .bloques{
        grid-template-columns: repeat(2, 1fr); /* dos columna */
        padding: 2.5rem;
    }
}
/* Configuración terciaria: Celulares */
@media (max-width: 730px) {
    .bloques{
        grid-template-columns: 1fr; /* una columna */
        padding: 1.5rem;
    }
}

/** PRODUCTO **/
.camisa {
    display: grid;
    grid-template-columns: 30% 70%; /* cuatro columnas */
    column-gap: 1rem;
    margin: 0 2rem;
    padding: 0 10%; /* Espacio interno */
    min-width: 70rem;
}
.camisa__contenido {
    grid-row: auto;
}
.camisa__imagen {
    background-repeat: no-repeat; /* para que no se repita la imagen */
    background-size: cover; /* toma todo el espacio disponible*/
    border: 2px solid var(--primarioClaro); /* Opcional: para visualizar bordes */
    border-radius: .5rem; /* Opcional: esquinas redondeadas */
    min-width: none;
}
/* Configuración secundaria: Tablets */
@media (max-width: 1000px) and (min-width: 730px) {
    .camisa{
        grid-template-columns: repeat(1, 1fr); /* cuatro columnas */
        padding: 2.5rem;
        row-gap: 1rem;
        min-width: auto;
    }
}
/* Configuración terciaria: Celulares */
@media (max-width: 730px) {
    .camisa{
        grid-template-columns: repeat(1, 1fr); /* cuatro columnas */
        padding: 0 0 2.5rem 0;
        row-gap: 1rem;
        min-width: auto;
    }
}

/** FORMULARIO **/
.formulario {
    font-family: var(--fuentePrincipal);
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 1rem;
}
.formulario__campo {
    border: .5rem solid var(--primario); /* tamaño, estilo, fuente */
    background-color: transparent; /* sin color */
    color: var(--primarioMasClaro);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem ;
    padding: .5rem;
    appearance: none; /* para quitar la flecha hacia abajo del select */
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 1.3rem;
    font-family: var(--fuentePrincipal);
    padding: 1rem;
    transition: background-color .3s ease; /* Efecto de transicion entre el color claro y oscuro al pasar por arriba con el puntero */
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer; /* puntero con forma de "mano" */
    background-color: var(--secundarioOscuro);
}
/* Configuración secundaria: Tablets */
@media (max-width: 1000px) and (min-width: 730px) {
    .formulario {
        grid-template-columns: 50% 50%;
        gap: 1rem;
        margin: 0 1rem 0 0;
    }
    .formulario__submit {
        grid-column: 1 / 3;
    }
}
/* Configuración terciaria: Celulares */
@media (max-width: 730px) {
    .formulario {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 1rem 0 0 0;
    }
    .formulario__campo {
        margin: 0;
    }
    .formulario__submit {
        grid-column: 1 / 2;
    }
}

/** FOOTER **/
.footer {
    background-color: var(--primario);
    padding: 1rem;
    margin-top: 2rem;
}
.footer__texto{
    text-align: center;
    font-family: var(--fuentePrincipal);
}